{% extends "base.html" %}

{% block content %}
<style>
a:link, a:visited {
    background-color: #01A9DB;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
</style>
<h2>Liste hotels possible :</h2>
{{ personne }}
{{ message }}
{% for h in hotels %}
  <h3>{{ h.name }} // {{ h.type }} ({{ h.numb_place }})</h3>
    {% for pl in h.places %}
      <p>Jour {{ pl.id }} : {{ pl.date }} : <b>{{ pl.nbr_pl }}</b> places</p>
    {% endfor %}
{% endfor %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.hotel.label }}
    {{ form.hotel(size=32) }}
    <br/>
    {{ form.date_deb.label }}
    {{ form.date_deb }}
    {{ form.date_fin.label }}
    {{ form.date_fin }}
    {{ form.submit() }}
  </p>
</form>
{% endblock %}
