<html>
    <head>
      {% if title %}
      <title>{{ title }} - Hébergement Cannes</title>
      {% else %}
      <title>Hébergement Cannes</title>
      {% endif %}
    </head>
    <style>
    a:link, a:visited {
        background-color: #01A9DB;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: red;
    }
    </style>
    <body>
        <div>Menu Hébergement Cannes:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
            {% if not current_user.statut %}
            <a href="{{ url_for('assign') }}">Assign</a>
            {% endif %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
