{% extends "base.html" %}

{% block content %}
<style>
a:link, a:visited {
    background-color: #01A9DB;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
</style>

    <h1>Bonjour, {{ current_user.username }}!</h1>
    <p>Voici la liste de vos hébergements : </p>
    {% for h in hotels %}
      <h3><a href="/hotel/{{ h.id }}">{{ h.name }} ({{ h.type }}, {{ h.numb_place }})</a></h3>
    {% endfor %}
{% endblock %}
